@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400&display=swap');

.main {
 text-align: center;
 font-family: 'Bellota Text';
}

.cat {
  background-color: rgb(220, 215, 215);
  border-radius: 5px;
  margin: 10%;
  padding: 1%;
}

.dog {
  background-color: rgb(220, 215, 215);
  border-radius: 5px;
  margin: 10%;
  padding: 1%;
}

.singleCatImg{
  max-width: 60%;
}

.singleDogImg {
  max-width: 60%;
}

.joinWaitlist {
  font-size: 30px;
}

.adoptButton {
  font-size: 25px;
  border-radius: 5px;
  padding: 5px 15px 5px 15px ;
}

.Logo {
  display: flex;
  justify-content: left;
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-size: 80px;
  margin-top: 17px;
  margin-left: 35px;
}

.otherCats {
  max-width: 40%;
}

.otherDogs {
  max-width: 40%;
}

.waitlistInput {
  margin: 15px;
  height: 25px;
  width: 105px;
  border-radius: 5px;
}

.waitlistSubmit {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;

}

